@charset "utf-8";
@font-face {
 font-family: impact;
 src: url(impactreg.woff) format('woff'),
 url(impactreg.ttf) format('ttf');
}
 
/*
  CIS WEB DEV 1: Quarter Project V2
   
   PHCT Typographic Style Sheet
   Author:Landon Kelln 
   Date:5/13/2020   
   
   Filename: ph_styles.css

*/
html{
 background-color: hsl(170, 79%, 45%);
 background-color: rgba(24, 205, 175, 1);
}
body{
 background-color: hsl(14, 72%, 62%); 
}
p{
margin:0px;
padding:5px 25px 25px 25px;


}
p::first-letter{
font-size: 2em;    
}
body > p{
text-align:center;
font-size: 2em 

}
ol{
    color: rgba(134, 12, 128, 0.75)

}
footer{
    color: rgba(134, 12, 128, 0.75)
}

footer:first-child{
    font-size: small;
    text-indent: 20em;
}

header{
 background-color: hsla(189, 96%, 34%, 1.0);
 letter-spacing: 0.1em;
}

#nav {
	height: 84px;
	background: url(images/bar-bg.jpg) repeat-x;
}

.table {
	display: table;
	margin: 0 auto;
}

ul#horizontal-list {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
	}
	ul#horizontal-list li {
		display: inline;
	}
nav a{
padding-top: 10px;
padding-bottom: 10px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
nav a:link, nav:visited{
color: white;
text-decoration: none;
background-color: hsla(43, 96%, 48%, 1.0);
}
nav a:hover, nav a:active{
color: hsla(189, 96%, 34%, 1.0);
background-color: hsla(10, 77%, 50%, .75);

}



